.toggler{
  top: -8px;
  right: 12px;
  margin-bottom: -15px;
  /* bottom: 72px; */
  height: 68px;
  position: relative;
  width: 71px;
  background-color: rgb(73, 73, 246);
}
.toggler i{
  position: relative;
  top: 21px;
  left: 21px;
}