:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: 100vh;
  }
  
  app-top-navigation {
    order: 1;
  }
  
  app-left-navigation {
    order: 2;
  }
  
  router-outlet {
    order: 3;
  }
  