<div class="left-navigation">
  <a href="#" class="navigation-link" (click)="showAlert('Box icon clicked')">
    <i class="pi pi-box" style="color: slateblue"></i>
  </a>
  <a href="#" class="navigation-link" (click)="showAlert('Sliders icon clicked')">
    <i class="pi pi-sliders-v" style="color: slateblue"></i>
  </a>
  <a href="#" class="navigation-link" (click)="showAlert('Clone icon clicked')">
    <i class="pi pi-clone" style="color: slateblue"></i>
  </a>
  <a href="#" class="navigation-link" (click)="showAlert('Check icon clicked')">
    <i class="pi pi-check" style="color: slateblue"></i>
  </a>
  <a href="#" class="navigation-link" (click)="showAlert('Cog icon clicked')">
    <i class="pi pi-cog" style="color: slateblue"></i>
  </a>
  <a href="#" class="navigation-link" (click)="showAlert('Download icon clicked')">
    <i class="pi pi-download" style="color: slateblue"></i>
  </a>
</div>
