<div class="containe">
    <div class="row">
        <div class="col-md-12 mt-4">
            <app-top-cards></app-top-cards>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <app-recent-orders></app-recent-orders>
        </div>
        <div class="col-md-4">
            <app-new-users></app-new-users>
        </div>
    </div>
    <div class="row">
        <div class="custom-width">
     <app-sales-statistics></app-sales-statistics>
        </div>
        <div class="custom-width">
       <app-balance-overview></app-balance-overview>
        </div>
        <div class="col-md-3">
         <app-top-products></app-top-products>
        </div>
    </div>
</div>